body {
    background-color:rgb(187, 164, 229);
}

h1 {
    color:rgb(33, 33, 215);
    text-align: center;
}

h2 {
    color:rgb(24, 130, 24);
    text-align: center;
}

p {
    font-size: 16px;
}

h3 {
    color:rgb(33, 33, 215);
}

em {
    opacity: 0.4;
}

a {
    font-family: sans-serif;
    font-weight: 600;
}